version: "3.9"

networks:
  libremarket:
    name: libremarket
    driver: bridge
services:

  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    restart: unless-stopped
    networks:
      - libremarket
    environment:
      ZOO_STANDALONE_ENABLED: "true"
      ZOO_4LW_COMMANDS_WHITELIST: "srvr,ruok,stat"
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD", "zkServer.sh", "status"]
      interval: 5s
      timeout: 5s
      retries: 10

  infracciones_principal:
    image: elixir:1.15.7-alpine
    container_name: infracciones_principal
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      AMQP_TO_RUN: Elixir.Libremarket.Infracciones.AMQP
      PRIMARY: true
      CONTAINER_NAME: infracciones_principal
      ZK_HOST: "zookeeper:2181"
    command: >
      elixir --sname infracciones_principal --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy


  infracciones_replica_1:
    image: elixir:1.15.7-alpine
    container_name: infracciones_replica_1
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      AMQP_TO_RUN: Elixir.Libremarket.Infracciones.AMQP
      PRIMARY: false
      CONTAINER_NAME: infracciones_replica_1
      ZK_HOST: "zookeeper:2181"
    command: >
      elixir --sname infracciones_replica_1 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  infracciones_replica_2:
    image: elixir:1.15.7-alpine
    container_name: infracciones_replica_2
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Infracciones.Server
      AMQP_TO_RUN: Elixir.Libremarket.Infracciones.AMQP
      PRIMARY: false
      CONTAINER_NAME: infracciones_replica_2
      ZK_HOST: "zookeeper:2181"
    command: >
      elixir --sname infracciones_replica_2 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
    depends_on:
      zookeeper:
        condition: service_healthy

  envios_principal:
    image: elixir:1.15.7-alpine
    container_name: envios_principal
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Envio.Server
      AMQP_TO_RUN: Elixir.Libremarket.Envio.AMQP
      PRIMARY: true
      CONTAINER_NAME: envios_principal
    command: >
      elixir --sname envios_principal --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  envios_replica_1:
    image: elixir:1.15.7-alpine
    container_name: envios_replica_1
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Envio.Server
      AMQP_TO_RUN: Elixir.Libremarket.Envio.AMQP
      PRIMARY: false
      CONTAINER_NAME: envios_replica_1
    command: >
      elixir --sname envios_replica_1 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  envios_replica_2:
    image: elixir:1.15.7-alpine
    container_name: envios_replica_2
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Envio.Server
      AMQP_TO_RUN: Elixir.Libremarket.Envio.AMQP
      PRIMARY: false
      CONTAINER_NAME: envios_replica_2
    command: >
      elixir --sname envios_replica_2 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  compras_principal:
    image: elixir:1.15.7-alpine
    container_name: compras_principal
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      AMQP_TO_RUN: Elixir.Libremarket.Compras.AMQP
      PRIMARY: true
      CONTAINER_NAME: compras_principal
    command: >
      elixir --sname compras_principal --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  compras_replica_1:
    image: elixir:1.15.7-alpine
    container_name: compras_replica_1
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      AMQP_TO_RUN: Elixir.Libremarket.Compras.AMQP
      PRIMARY: false
      CONTAINER_NAME: compras_replica_1
    command: >
      elixir --sname compras_replica_1 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  compras_replica_2:
    image: elixir:1.15.7-alpine
    container_name: compras_replica_2
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Compras.Server
      AMQP_TO_RUN: Elixir.Libremarket.Compras.AMQP
      PRIMARY: false
      CONTAINER_NAME: compras_replica_2
    command: >
      elixir --sname compras_replica_2 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos_principal:
    image: elixir:1.15.7-alpine
    container_name: pagos_principal
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      AMQP_TO_RUN: Elixir.Libremarket.Pagos.AMQP
      PRIMARY: true
      CONTAINER_NAME: pagos_principal
    command: >
      elixir --sname pagos_principal --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos_replica_1:
    image: elixir:1.15.7-alpine
    container_name: pagos_replica_1
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      AMQP_TO_RUN: Elixir.Libremarket.Pagos.AMQP
      PRIMARY: false
      CONTAINER_NAME: pagos_replica_1
    command: >
      elixir --sname pagos_replica_1 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  pagos_replica_2:
    image: elixir:1.15.7-alpine
    container_name: pagos_replica_2
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Pagos.Server
      AMQP_TO_RUN: Elixir.Libremarket.Pagos.AMQP
      PRIMARY: false
      CONTAINER_NAME: pagos_replica_2
    command: >
      elixir --sname pagos_replica_2 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  ventas_principal:
    image: elixir:1.15.7-alpine
    container_name: ventas_principal
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      AMQP_TO_RUN: Elixir.Libremarket.Ventas.AMQP
      PRIMARY: true
      CONTAINER_NAME: ventas_principal
    command: >
      elixir --sname ventas_principal --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  ventas_replica_1:
    image: elixir:1.15.7-alpine
    container_name: ventas_replica_1
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      AMQP_TO_RUN: Elixir.Libremarket.Ventas.AMQP
      PRIMARY: false
      CONTAINER_NAME: ventas_replica_1
    command: >
      elixir --sname ventas_replica_1 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  ventas_replica_2:
    image: elixir:1.15.7-alpine
    container_name: ventas_replica_2
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      AMQP_URL: "amqps://euurcdqx:pXErClaP-kSXdF8YZypEyZb5brqWRthx@jackal.rmq.cloudamqp.com/euurcdqx"
      SERVER_TO_RUN: Elixir.Libremarket.Ventas.Server
      AMQP_TO_RUN: Elixir.Libremarket.Ventas.AMQP
      PRIMARY: false
      CONTAINER_NAME: ventas_replica_2
    command: >
      elixir --sname ventas_replica_2 --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"

  rest:
    image: elixir:1.15.7-alpine
    container_name: rest
    networks:
      - libremarket
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      MIX_HOME: /app/mix_home
      HEX_HOME: /app/hex_home
      SERVER_TO_RUN: Elixir.Libremarket.Rest.Server
      REST_PORT: 4000
      SECRET: ${SECRET}
    command: >
      elixir --sname rest --cookie ${SECRET}
      -S mix run --no-halt --no-compile
    stdin_open: true
    tty: true
    user: "${DOCKER_UID}:${DOCKER_GID}"
